In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
%matplotlib inline

In [2]:
postAmps = pd.read_csv('data.csv')
preAmps = pd.read_csv('data-antes.csv')

In [3]:
postAmps = postAmps.sort_index()
preAmps = preAmps.sort_index()
# temp = temp.sort_index()
# temp.head()


postAmps.head()

                   time     amps
0  02/01/19 12:05:30 PM  37.0779
1  02/01/19 12:06:30 PM  37.9644
2  02/01/19 12:07:30 PM  38.0591
3  02/01/19 12:08:30 PM  38.4253
4  02/01/19 12:09:30 PM  38.0819

In [4]:
def formatDates (row):
    
    if '/2019' in row['time']:
        return row['time'].replace('/2019', '/19')
        
    else:
        return row['time']
         
preAmps['time'] = preAmps.apply(lambda row: formatDates(row), axis=1)

In [5]:
preAmps

                    time     amps  on
0      01/11/19 09:52 AM  38.4268   1
1      01/11/19 09:53 AM  38.3230   1
2      01/11/19 09:54 AM  38.2422   1
3      01/11/19 09:55 AM  38.6145   1
4      01/11/19 09:56 AM  38.3078   1
5      01/11/19 09:57 AM  38.5229   1
6      01/11/19 09:58 AM  38.2773   1
7      01/11/19 09:59 AM  38.4817   1
8      01/11/19 10:00 AM  38.4497   1
9      01/11/19 10:01 AM  38.4192   1
10     01/11/19 10:02 AM  38.6053   1
11     01/11/19 10:03 AM  38.8067   1
12     01/11/19 10:04 AM  38.5870   1
13     01/11/19 10:05 AM  38.5519   1
14     01/11/19 10:06 AM  38.3948   1
15     01/11/19 10:07 AM  38.5367   1
16     01/11/19 10:08 AM  38.3978   1
17     01/11/19 10:09 AM  38.3017   1
18     01/11/19 10:10 AM  38.5199   1
19     01/11/19 10:11 AM  38.3047   1
20     01/11/19 10:12 AM  38.2910   1
21     01/11/19 10:13 AM  38.4360   1
22     01/11/19 10:14 AM  38.3474   1
23     01/11/19 10:15 AM  38.4939   1
24     01/11/19 10:16 AM  38.7945   1
25     01/11/19 10:17 AM  38.0545   1
26     01/11/19 10:18 AM  38.3856   1
27     01/11/19 10:19 AM  38.5931   1
28     01/11/19 10:20 AM  38.5397   1
29     01/11/19 10:21 AM  38.6252   1
...                  ...      ...  ..
10145  01/18/19 10:57 AM  38.5565   1
10146  01/18/19 10:58 AM  38.9090   1
10147  01/18/19 10:59 AM  38.3825   1
10148  01/18/19 11:00 AM  38.4985   1
10149  01/18/19 11:01 AM  38.6358   1
10150  01/18/19 11:02 AM  38.6328   1
10151  01/18/19 11:03 AM  38.7015   1
10152  01/18/19 11:04 AM  38.6236   1
10153  01/18/19 11:05 AM  38.6404   1
10154  01/18/19 11:06 AM  38.6435   1
10155  01/18/19 11:07 AM  38.7015   1
10156  01/18/19 11:08 AM  38.8266   1
10157  01/18/19 11:09 AM  38.2147   1
10158  01/18/19 11:10 AM  38.1186   1
10159  01/18/19 11:11 AM  38.7289   1
10160  01/18/19 11:12 AM  38.7472   1
10161  01/18/19 11:13 AM  38.6862   1
10162  01/18/19 11:14 AM  38.6404   1
10163  01/18/19 11:15 AM  38.3856   1
10164  01/18/19 11:16 AM  38.8449   1
10165  01/18/19 11:17 AM  38.6450   1
10166  01/18/19 11:18 AM  38.7640   1
10167  01/18/19 11:19 AM  38.3978   1
10168  01/18/19 11:20 AM  38.7243   1
10169  01/18/19 11:21 AM  38.3307   1
10170  01/18/19 11:22 AM  38.5809   1
10171  01/18/19 11:23 AM  38.2650   1
10172  01/18/19 11:24 AM  38.5687   1
10173  01/18/19 11:25 AM  38.7320   1
10174  01/18/19 11:26 AM  38.4588   1

[10175 rows x 3 columns]

In [7]:
def getHour (row):
    testTime = datetime.datetime.strptime(row['time'], '%m/%d/%y %H:%M %p')
    return testTime.strftime('%H')

preAmps['hour']=preAmps.apply(lambda row: getHour(row), axis=1)

preAmps

                    time     amps  on hour
0      01/11/19 09:52 AM  38.4268   1   09
1      01/11/19 09:53 AM  38.3230   1   09
2      01/11/19 09:54 AM  38.2422   1   09
3      01/11/19 09:55 AM  38.6145   1   09
4      01/11/19 09:56 AM  38.3078   1   09
5      01/11/19 09:57 AM  38.5229   1   09
6      01/11/19 09:58 AM  38.2773   1   09
7      01/11/19 09:59 AM  38.4817   1   09
8      01/11/19 10:00 AM  38.4497   1   10
9      01/11/19 10:01 AM  38.4192   1   10
10     01/11/19 10:02 AM  38.6053   1   10
11     01/11/19 10:03 AM  38.8067   1   10
12     01/11/19 10:04 AM  38.5870   1   10
13     01/11/19 10:05 AM  38.5519   1   10
14     01/11/19 10:06 AM  38.3948   1   10
15     01/11/19 10:07 AM  38.5367   1   10
16     01/11/19 10:08 AM  38.3978   1   10
17     01/11/19 10:09 AM  38.3017   1   10
18     01/11/19 10:10 AM  38.5199   1   10
19     01/11/19 10:11 AM  38.3047   1   10
20     01/11/19 10:12 AM  38.2910   1   10
21     01/11/19 10:13 AM  38.4360   1   10
22     01/11/19 10:14 AM  38.3474   1   10
23     01/11/19 10:15 AM  38.4939   1   10
24     01/11/19 10:16 AM  38.7945   1   10
25     01/11/19 10:17 AM  38.0545   1   10
26     01/11/19 10:18 AM  38.3856   1   10
27     01/11/19 10:19 AM  38.5931   1   10
28     01/11/19 10:20 AM  38.5397   1   10
29     01/11/19 10:21 AM  38.6252   1   10
...                  ...      ...  ..  ...
10145  01/18/19 10:57 AM  38.5565   1   10
10146  01/18/19 10:58 AM  38.9090   1   10
10147  01/18/19 10:59 AM  38.3825   1   10
10148  01/18/19 11:00 AM  38.4985   1   11
10149  01/18/19 11:01 AM  38.6358   1   11
10150  01/18/19 11:02 AM  38.6328   1   11
10151  01/18/19 11:03 AM  38.7015   1   11
10152  01/18/19 11:04 AM  38.6236   1   11
10153  01/18/19 11:05 AM  38.6404   1   11
10154  01/18/19 11:06 AM  38.6435   1   11
10155  01/18/19 11:07 AM  38.7015   1   11
10156  01/18/19 11:08 AM  38.8266   1   11
10157  01/18/19 11:09 AM  38.2147   1   11
10158  01/18/19 11:10 AM  38.1186   1   11
10159  01/18/19 11:11 AM  38.7289   1   11
10160  01/18/19 11:12 AM  38.7472   1   11
10161  01/18/19 11:13 AM  38.6862   1   11
10162  01/18/19 11:14 AM  38.6404   1   11
10163  01/18/19 11:15 AM  38.3856   1   11
10164  01/18/19 11:16 AM  38.8449   1   11
10165  01/18/19 11:17 AM  38.6450   1   11
10166  01/18/19 11:18 AM  38.7640   1   11
10167  01/18/19 11:19 AM  38.3978   1   11
10168  01/18/19 11:20 AM  38.7243   1   11
10169  01/18/19 11:21 AM  38.3307   1   11
10170  01/18/19 11:22 AM  38.5809   1   11
10171  01/18/19 11:23 AM  38.2650   1   11
10172  01/18/19 11:24 AM  38.5687   1   11
10173  01/18/19 11:25 AM  38.7320   1   11
10174  01/18/19 11:26 AM  38.4588   1   11

[10175 rows x 4 columns]

In [21]:
preAmpsByHour = preAmps.groupby(['hour']).mean()['amps']

preAmpsByHour

# preAmps

hour
01    24.788321
02    23.242523
03    21.933863
04    23.921284
05    23.843125
06    31.183740
07    28.535119
08    29.261225
09    31.615881
10    33.003458
11    33.262919
12    31.542423
13    33.035572
14    33.038296
15    32.927649
16    32.786629
17    36.313356
18    35.870046
19    34.343195
20    36.014681
21    35.009244
22    34.487281
23    32.252537
Name: amps, dtype: float64

In [11]:
def getWeekday (row):
    testTime = datetime.datetime.strptime(row['time'], '%m/%d/%y %H:%M %p')
    return testTime.strftime('%A')     
preAmps['weekday'] = preAmps.apply(lambda row: getWeekday(row), axis=1)

In [12]:
def getPostWeekday (row):
    testTime = datetime.datetime.strptime(row['time'], '%m/%d/%y %H:%M:%S %p')
    return testTime.strftime('%A')
postAmps['weekday'] = postAmps.apply(lambda row: getPostWeekday(row), axis=1)

In [13]:
def getTime (row):
    testTime = datetime.datetime.strptime(row['time'], '%m/%d/%y %H:%M %p')
    return testTime.strftime('%H:%M')     
preAmps['time'] = preAmps.apply(lambda row: getTime(row), axis=1)

In [14]:
preAmps[204:237]

      time     amps  on hour  ampsHour weekday
204  13:16  38.8983   1   13       NaN  Friday
205  13:17  38.6267   1   13       NaN  Friday
206  13:18  38.7060   1   13       NaN  Friday
207  13:19  39.0707   1   13       NaN  Friday
208  13:20  38.9807   1   13       NaN  Friday
209  13:21  38.6954   1   13       NaN  Friday
210  13:22  38.5290   1   13       NaN  Friday
211  13:23  38.5901   1   13       NaN  Friday
212  13:24  38.7106   1   13       NaN  Friday
213  13:25  38.7488   1   13       NaN  Friday
214  13:26  38.4512   1   13       NaN  Friday
215  13:27  38.6023   1   13       NaN  Friday
216  13:28  38.7091   1   13       NaN  Friday
217  13:29  38.8586   1   13       NaN  Friday
218  13:30  38.7854   1   13       NaN  Friday
219  13:31  38.9487   1   13       NaN  Friday
220  13:32  39.0112   1   13       NaN  Friday
221  13:33  39.0494   1   13       NaN  Friday
222  13:34  38.9334   1   13       NaN  Friday
223  13:35  39.0921   1   13       NaN  Friday
224  13:36  39.4079   1   13       NaN  Friday
225  13:37  39.1653   1   13       NaN  Friday
226  13:38  38.9303   1   13       NaN  Friday
227  13:39  38.9303   1   13       NaN  Friday
228  13:40  39.1958   1   13       NaN  Friday
229  13:41  39.2569   1   13       NaN  Friday
230  13:42  38.7579   1   13       NaN  Friday
231  13:43  38.8281   1   13       NaN  Friday
232  13:44  38.8128   1   13       NaN  Friday
233  13:45  38.8693   1   13       NaN  Friday
234  13:46  39.0097   1   13       NaN  Friday
235  13:47  39.1196   1   13       NaN  Friday
236  13:48  39.0356   1   13       NaN  Friday

In [17]:
postAmps = postAmps.dropna()
postAmps

                      time     amps weekday
0     02/01/19 12:05:30 PM  37.0779  Friday
1     02/01/19 12:06:30 PM  37.9644  Friday
2     02/01/19 12:07:30 PM  38.0591  Friday
3     02/01/19 12:08:30 PM  38.4253  Friday
4     02/01/19 12:09:30 PM  38.0819  Friday
5     02/01/19 12:10:30 PM  38.2650  Friday
6     02/01/19 12:11:30 PM  38.2223  Friday
7     02/01/19 12:12:30 PM  37.9767  Friday
8     02/01/19 12:13:30 PM  37.6059  Friday
9     02/01/19 12:14:30 PM  37.9614  Friday
10    02/01/19 12:15:30 PM  37.8607  Friday
12    02/01/19 12:16:30 PM  37.7096  Friday
14    02/01/19 12:17:30 PM  37.3587  Friday
16    02/01/19 12:18:30 PM  37.5387  Friday
18    02/01/19 12:19:30 PM  37.7462  Friday
20    02/01/19 12:20:30 PM  37.6944  Friday
22    02/01/19 12:21:30 PM  38.0011  Friday
24    02/01/19 12:22:30 PM  38.0774  Friday
26    02/01/19 12:23:30 PM  37.9889  Friday
28    02/01/19 12:24:30 PM  38.1170  Friday
30    02/01/19 12:25:30 PM  38.2742  Friday
32    02/01/19 12:26:30 PM  37.9767  Friday
34    02/01/19 12:27:30 PM  38.1567  Friday
36    02/01/19 12:28:30 PM  38.0529  Friday
38    02/01/19 12:29:30 PM  38.7121  Friday
40    02/01/19 12:30:30 PM  38.0804  Friday
42    02/01/19 12:31:30 PM  38.0453  Friday
44    02/01/19 12:32:30 PM  38.1323  Friday
46    02/01/19 12:33:30 PM  38.1827  Friday
48    02/01/19 12:34:30 PM  38.2940  Friday
...                    ...      ...     ...
8450  02/04/19 10:35:30 AM   0.0336  Monday
8452  02/04/19 10:36:30 AM   0.0336  Monday
8454  02/04/19 10:37:30 AM   0.0336  Monday
8456  02/04/19 10:38:30 AM   0.0336  Monday
8458  02/04/19 10:39:30 AM   0.0336  Monday
8460  02/04/19 10:40:30 AM   0.0336  Monday
8462  02/04/19 10:41:30 AM   0.0336  Monday
8464  02/04/19 10:42:30 AM  38.8678  Monday
8466  02/04/19 10:43:30 AM  37.2519  Monday
8468  02/04/19 10:44:30 AM  37.1984  Monday
8470  02/04/19 10:45:30 AM  37.4014  Monday
8472  02/04/19 10:46:30 AM  37.2671  Monday
8474  02/04/19 10:47:30 AM  37.2015  Monday
8476  02/04/19 10:48:30 AM  37.4014  Monday
8478  02/04/19 10:49:30 AM  37.5265  Monday
8480  02/04/19 10:50:30 AM  37.7920  Monday
8482  02/04/19 10:51:30 AM  37.4426  Monday
8484  02/04/19 10:52:30 AM  37.2976  Monday
8486  02/04/19 10:53:30 AM  37.4166  Monday
8488  02/04/19 10:54:30 AM  37.2732  Monday
8490  02/04/19 10:55:30 AM  37.2152  Monday
8492  02/04/19 10:56:30 AM  37.2290  Monday
8494  02/04/19 10:57:30 AM  37.3342  Monday
8496  02/04/19 10:58:30 AM  37.2396  Monday
8498  02/04/19 10:59:30 AM  37.3083  Monday
8500  02/04/19 11:00:30 AM  37.5631  Monday
8502  02/04/19 11:01:30 AM  37.2763  Monday
8504  02/04/19 11:02:30 AM  37.4426  Monday
8506  02/04/19 11:03:30 AM  37.3968  Monday
8508  02/04/19 11:04:30 AM  37.6364  Monday

[4260 rows x 3 columns]

In [18]:
def getPostHour (row):
    testTime = datetime.datetime.strptime(row['time'], '%m/%d/%y %I:%M:%S %p')
    return testTime.strftime('%H')

postAmps['hour']=postAmps.apply(lambda row: getPostHour(row), axis=1)

postAmps

                      time     amps weekday hour
0     02/01/19 12:05:30 PM  37.0779  Friday   12
1     02/01/19 12:06:30 PM  37.9644  Friday   12
2     02/01/19 12:07:30 PM  38.0591  Friday   12
3     02/01/19 12:08:30 PM  38.4253  Friday   12
4     02/01/19 12:09:30 PM  38.0819  Friday   12
5     02/01/19 12:10:30 PM  38.2650  Friday   12
6     02/01/19 12:11:30 PM  38.2223  Friday   12
7     02/01/19 12:12:30 PM  37.9767  Friday   12
8     02/01/19 12:13:30 PM  37.6059  Friday   12
9     02/01/19 12:14:30 PM  37.9614  Friday   12
10    02/01/19 12:15:30 PM  37.8607  Friday   12
12    02/01/19 12:16:30 PM  37.7096  Friday   12
14    02/01/19 12:17:30 PM  37.3587  Friday   12
16    02/01/19 12:18:30 PM  37.5387  Friday   12
18    02/01/19 12:19:30 PM  37.7462  Friday   12
20    02/01/19 12:20:30 PM  37.6944  Friday   12
22    02/01/19 12:21:30 PM  38.0011  Friday   12
24    02/01/19 12:22:30 PM  38.0774  Friday   12
26    02/01/19 12:23:30 PM  37.9889  Friday   12
28    02/01/19 12:24:30 PM  38.1170  Friday   12
30    02/01/19 12:25:30 PM  38.2742  Friday   12
32    02/01/19 12:26:30 PM  37.9767  Friday   12
34    02/01/19 12:27:30 PM  38.1567  Friday   12
36    02/01/19 12:28:30 PM  38.0529  Friday   12
38    02/01/19 12:29:30 PM  38.7121  Friday   12
40    02/01/19 12:30:30 PM  38.0804  Friday   12
42    02/01/19 12:31:30 PM  38.0453  Friday   12
44    02/01/19 12:32:30 PM  38.1323  Friday   12
46    02/01/19 12:33:30 PM  38.1827  Friday   12
48    02/01/19 12:34:30 PM  38.2940  Friday   12
...                    ...      ...     ...  ...
8450  02/04/19 10:35:30 AM   0.0336  Monday   10
8452  02/04/19 10:36:30 AM   0.0336  Monday   10
8454  02/04/19 10:37:30 AM   0.0336  Monday   10
8456  02/04/19 10:38:30 AM   0.0336  Monday   10
8458  02/04/19 10:39:30 AM   0.0336  Monday   10
8460  02/04/19 10:40:30 AM   0.0336  Monday   10
8462  02/04/19 10:41:30 AM   0.0336  Monday   10
8464  02/04/19 10:42:30 AM  38.8678  Monday   10
8466  02/04/19 10:43:30 AM  37.2519  Monday   10
8468  02/04/19 10:44:30 AM  37.1984  Monday   10
8470  02/04/19 10:45:30 AM  37.4014  Monday   10
8472  02/04/19 10:46:30 AM  37.2671  Monday   10
8474  02/04/19 10:47:30 AM  37.2015  Monday   10
8476  02/04/19 10:48:30 AM  37.4014  Monday   10
8478  02/04/19 10:49:30 AM  37.5265  Monday   10
8480  02/04/19 10:50:30 AM  37.7920  Monday   10
8482  02/04/19 10:51:30 AM  37.4426  Monday   10
8484  02/04/19 10:52:30 AM  37.2976  Monday   10
8486  02/04/19 10:53:30 AM  37.4166  Monday   10
8488  02/04/19 10:54:30 AM  37.2732  Monday   10
8490  02/04/19 10:55:30 AM  37.2152  Monday   10
8492  02/04/19 10:56:30 AM  37.2290  Monday   10
8494  02/04/19 10:57:30 AM  37.3342  Monday   10
8496  02/04/19 10:58:30 AM  37.2396  Monday   10
8498  02/04/19 10:59:30 AM  37.3083  Monday   10
8500  02/04/19 11:00:30 AM  37.5631  Monday   11
8502  02/04/19 11:01:30 AM  37.2763  Monday   11
8504  02/04/19 11:02:30 AM  37.4426  Monday   11
8506  02/04/19 11:03:30 AM  37.3968  Monday   11
8508  02/04/19 11:04:30 AM  37.6364  Monday   11

[4260 rows x 4 columns]

In [20]:
postAmpsByHour = postAmps.groupby(['hour']).mean()['amps']

postAmpsByHour

# preAmps

hour
00    31.056271
01    30.047896
02    27.953451
03    28.040914
04    26.983288
05    26.715696
06    27.763786
07    28.387379
08    30.158061
09    30.707654
10    31.503122
11    32.053889
12    33.616957
13    32.139564
14    32.313603
15    32.115941
16    32.286735
17    32.190013
18    29.983376
19    32.015064
20    31.754102
21    31.867567
22    31.129354
23    30.966668
Name: amps, dtype: float64

In [22]:
def getPostTime (row):
    testTime = datetime.datetime.strptime(row['time'], '%m/%d/%y %I:%M:%S %p')
    return testTime.strftime('%H:%M')     
postAmps['time'] = postAmps.apply(lambda row: getPostTime(row), axis=1)

In [23]:
def onOrOff (row):
    if row['amps'] < 1:
        return 0
    else:
        return 1

postAmps['on'] = postAmps.apply(lambda row: onOrOff(row), axis=1)
preAmps['on'] = postAmps.apply(lambda row: onOrOff(row), axis=1)

postAmps.head()

    time     amps weekday hour  on
0  12:05  37.0779  Friday   12   1
1  12:06  37.9644  Friday   12   1
2  12:07  38.0591  Friday   12   1
3  12:08  38.4253  Friday   12   1
4  12:09  38.0819  Friday   12   1

In [24]:
preAmps.head()

    time     amps   on hour  ampsHour weekday
0  09:52  38.4268  1.0   09       NaN  Friday
1  09:53  38.3230  1.0   09       NaN  Friday
2  09:54  38.2422  1.0   09       NaN  Friday
3  09:55  38.6145  1.0   09       NaN  Friday
4  09:56  38.3078  1.0   09       NaN  Friday

In [25]:
preAmps = preAmps.set_index('time')
postAmps = postAmps.set_index('time')

In [26]:
postAmps.tail(100)

          amps weekday hour  on
time
09:25  37.2061  Monday   09   1
09:26  37.1756  Monday   09   1
09:27  37.3297  Monday   09   1
09:28  37.4716  Monday   09   1
09:29  37.4411  Monday   09   1
09:30  37.2854  Monday   09   1
09:31  37.2259  Monday   09   1
09:32   0.0381  Monday   09   0
09:33   0.0351  Monday   09   0
09:34   0.0336  Monday   09   0
09:35   0.0336  Monday   09   0
09:36   0.0336  Monday   09   0
09:37   0.0336  Monday   09   0
09:38   0.0351  Monday   09   0
09:39   0.0351  Monday   09   0
09:40   0.0351  Monday   09   0
09:41  37.4044  Monday   09   1
09:42  38.7625  Monday   09   1
09:43  37.2702  Monday   09   1
09:44  37.5601  Monday   09   1
09:45  37.1099  Monday   09   1
09:46  36.7910  Monday   09   1
09:47  36.7758  Monday   09   1
09:48  37.2015  Monday   09   1
09:49  36.9192  Monday   09   1
09:50  36.7285  Monday   09   1
09:51  36.8368  Monday   09   1
09:52  36.8399  Monday   09   1
09:53  36.7407  Monday   09   1
09:54  37.0748  Monday   09   1
...        ...     ...  ...  ..
10:35   0.0336  Monday   10   0
10:36   0.0336  Monday   10   0
10:37   0.0336  Monday   10   0
10:38   0.0336  Monday   10   0
10:39   0.0336  Monday   10   0
10:40   0.0336  Monday   10   0
10:41   0.0336  Monday   10   0
10:42  38.8678  Monday   10   1
10:43  37.2519  Monday   10   1
10:44  37.1984  Monday   10   1
10:45  37.4014  Monday   10   1
10:46  37.2671  Monday   10   1
10:47  37.2015  Monday   10   1
10:48  37.4014  Monday   10   1
10:49  37.5265  Monday   10   1
10:50  37.7920  Monday   10   1
10:51  37.4426  Monday   10   1
10:52  37.2976  Monday   10   1
10:53  37.4166  Monday   10   1
10:54  37.2732  Monday   10   1
10:55  37.2152  Monday   10   1
10:56  37.2290  Monday   10   1
10:57  37.3342  Monday   10   1
10:58  37.2396  Monday   10   1
10:59  37.3083  Monday   10   1
11:00  37.5631  Monday   11   1
11:01  37.2763  Monday   11   1
11:02  37.4426  Monday   11   1
11:03  37.3968  Monday   11   1
11:04  37.6364  Monday   11   1

[100 rows x 4 columns]

In [27]:
mergedTimes = pd.merge(preAmps, postAmps, on=['time', 'weekday'])
mergedTimes

        amps_x  on_x hour_x  ampsHour weekday   amps_y hour_y  on_y
time
12:05  38.6175   NaN     12       NaN  Friday  37.0779     12     1
12:05  36.7590   NaN     12       NaN  Friday  37.0779     12     1
12:06  38.5702   1.0     12       NaN  Friday  37.9644     12     1
12:06  36.5499   NaN     12       NaN  Friday  37.9644     12     1
12:07  38.6389   NaN     12       NaN  Friday  38.0591     12     1
12:07  36.6201   NaN     12       NaN  Friday  38.0591     12     1
12:08  38.7243   1.0     12       NaN  Friday  38.4253     12     1
12:08  36.6949   NaN     12       NaN  Friday  38.4253     12     1
12:09  38.4771   NaN     12       NaN  Friday  38.0819     12     1
12:09  36.6888   NaN     12       NaN  Friday  38.0819     12     1
12:10  38.3810   1.0     12       NaN  Friday  38.2650     12     1
12:10  36.5011   NaN     12       NaN  Friday  38.2650     12     1
12:11  38.6679   NaN     12       NaN  Friday  38.2223     12     1
12:11  36.6629   NaN     12       NaN  Friday  38.2223     12     1
12:12  38.5351   1.0     12       NaN  Friday  37.9767     12     1
12:12  36.4813   NaN     12       NaN  Friday  37.9767     12     1
12:13  38.3017   NaN     12       NaN  Friday  37.6059     12     1
12:13  36.5209   NaN     12       NaN  Friday  37.6059     12     1
12:14  38.5245   1.0     12       NaN  Friday  37.9614     12     1
12:14  36.5133   NaN     12       NaN  Friday  37.9614     12     1
12:15  38.2803   NaN     12       NaN  Friday  37.8607     12     1
12:15  36.1852   NaN     12       NaN  Friday  37.8607     12     1
12:16  38.4070   1.0     12       NaN  Friday  37.7096     12     1
12:16  36.1120   NaN     12       NaN  Friday  37.7096     12     1
12:17  38.8525   NaN     12       NaN  Friday  37.3587     12     1
12:17  36.3027   NaN     12       NaN  Friday  37.3587     12     1
12:18  38.5214   1.0     12       NaN  Friday  37.5387     12     1
12:18  36.2493   NaN     12       NaN  Friday  37.5387     12     1
12:19  38.6007   NaN     12       NaN  Friday  37.7462     12     1
12:19  36.3561   NaN     12       NaN  Friday  37.7462     12     1
...        ...   ...    ...       ...     ...      ...    ...   ...
10:35  38.4222   NaN     10       NaN  Monday   0.0336     10     0
10:36  38.6160   1.0     10       NaN  Monday   0.0336     10     0
10:37  38.3062   NaN     10       NaN  Monday   0.0336     10     0
10:38  38.2391   1.0     10       NaN  Monday   0.0336     10     0
10:39  38.2773   NaN     10       NaN  Monday   0.0336     10     0
10:40  38.3047   1.0     10       NaN  Monday   0.0336     10     0
10:41  38.2742   NaN     10       NaN  Monday   0.0336     10     0
10:42  38.5000   1.0     10       NaN  Monday  38.8678     10     1
10:43  38.4802   NaN     10       NaN  Monday  37.2519     10     1
10:44  38.2162   1.0     10       NaN  Monday  37.1984     10     1
10:45  38.2467   NaN     10       NaN  Monday  37.4014     10     1
10:46  38.4604   1.0     10       NaN  Monday  37.2671     10     1
10:47  38.4558   NaN     10       NaN  Monday  37.2015     10     1
10:48  38.5183   1.0     10       NaN  Monday  37.4014     10     1
10:49  38.3627   NaN     10       NaN  Monday  37.5265     10     1
10:50  38.4039   1.0     10       NaN  Monday  37.7920     10     1
10:51  38.4024   NaN     10       NaN  Monday  37.4426     10     1
10:52  38.4436   1.0     10       NaN  Monday  37.2976     10     1
10:53  38.5382   NaN     10       NaN  Monday  37.4166     10     1
10:54  38.4237   1.0     10       NaN  Monday  37.2732     10     1
10:55  38.4207   NaN     10       NaN  Monday  37.2152     10     1
10:56  38.5626   1.0     10       NaN  Monday  37.2290     10     1
10:57  38.2605   NaN     10       NaN  Monday  37.3342     10     1
10:58  38.4329   1.0     10       NaN  Monday  37.2396     10     1
10:59  38.6175   NaN     10       NaN  Monday  37.3083     10     1
11:00  38.0819   1.0     11       NaN  Monday  37.5631     11     1
11:01  38.0804   NaN     11       NaN  Monday  37.2763     11     1
11:02  38.6206   1.0     11       NaN  Monday  37.4426     11     1
11:03  38.6053   NaN     11       NaN  Monday  37.3968     11     1
11:04  38.2193   1.0     11       NaN  Monday  37.6364     11     1

[4255 rows x 8 columns]

In [28]:
preAmps.to_csv('preClean.csv')
postAmps.to_csv('postClean.csv')
mergedTimes.to_csv('mergedClean.csv')

In [30]:
preAmpsByHour.to_csv('preMean.csv')
postAmpsByHour.to_csv('postMean.csv')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.